.danger {
  color:rgb(202, 5, 5);
  font-weight: 600;
  margin-left: 15px;
}

.success {
  color:rgb(63, 79, 51);
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 25px;
}

.inActive {
  margin: auto;
  font-size: 40px;
  font-weight: 600;
}

.back {
  margin-top: 20px;
  margin-left: 45%;
  width: 130px;
  transition: width 2s;

  &:hover {
    width: 300px;
  }
}
