<label class="form-group">Homework #{{ curHomework.homeworkNumber }}</label>

<app-tasks
 *ngFor="let task of curHomework.tasks; let i = index"
 [curHomework]="curHomework.homeworkNumber"
 [curTaskNumber] = 'i+1'
 [curTask]="task"
 [showCorrectAnswer]="disabledSuccess"
 ></app-tasks>

<button
 *ngIf="!disabledSuccess"
 type="submit"
 class="btn btn-success"
 (click)="endHomework()"
 >Success homework</button>


<span *ngIf="disabledSuccess"> You got {{ yourScore }} points out of {{ maxScore }}.</span>
