hr {
  margin-top: 10px;
}

.test-number {
  width: 70px;
}

.btn {
  margin: 10px 0;
}

.delete, .add {
  text-align: right;
}

hr {
  margin-top: 10px;
}

.option {
  width: 50%;
}

.answer {
  width: 60%;
}
