<div class="panel panel-default">
  <div class="panel-heading">{{'onlineTest.test.testNumber' | translate}}: {{ curTestNum }}</div>
  <div class="panel-body">
    <p>{{ curTest.conditions }}</p>
  </div>

  <form [formGroup]="testForm">

    <div class="form-group list-group">
      <div class="list-group-item" *ngFor="let option of curTest.options">
        <input type="radio" [value]="option" formControlName="option">
        <label class="form-control" [for]="option">{{ option }}</label>
      </div>
    </div>

    <div class="form-group" [ngStyle]="{'display': showCorrectAnswer ? 'block' : 'none' }">
      <button class="form-control answer">{{'onlineTest.test.corAnswer' | translate}}: <span #answer>{{ curTest.answer }}</span> </button>
    </div>

    <button
     *ngIf="!showCorrectAnswer"
     [disabled]="isAdded"
     class="btn"
     [ngClass]="{'btn-danger': !isAdded, 'btn-success': isAdded }"
     type="submit"
     [disabled]="!testForm.valid"
     (click)="addTestTask()"
     >{{'onlineTest.test.btn' | translate}}</button>
  </form>
</div>

