@import '../../styles.scss';

.footer {
  background-color: #e7e7e7;
  color: #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_copy, .footer_contact {
  cursor: pointer;
}
