.map-container {
  height: 400px;
  padding: 25px;
  margin-bottom: 50px;


  iframe {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: #181818;
    opacity: .9;
    border: none;
  }
}
