<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <span>{{'contact.title' | translate}}</span>
    <hr>
    <form [formGroup]="contactForm" (ngSubmit)="messageSubmit()">
      <div class="form-grupe">
        <div class="form-group" *ngIf="!curUserEmail">
          <label for="email">{{'Email' | translate}}:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
            placeholder="{{'contact.email-msg' | translate}}"
          />
          <p class="required" *ngIf="get('email').invalid && get('email').touched">
            <ng-container *ngFor="let errorMessage of errors('email')">
              <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
            </ng-container>
          </p>
        </div>
        <div class="form-group">
          <label for="message">{{'Message' | translate}}:</label>
          <textarea
            formControlName='message'
            class="form-control" rows="5"
            placeholder="{{'contact.msg-msg' | translate}}"
          ></textarea>
          <p class="required" *ngIf="get('message').invalid && get('message').touched">
            <ng-container *ngFor="let errorMessage of errors('message')">
              <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
            </ng-container>
          </p>
        </div>
      </div>
      <div class="form-group">
        <button
          *ngIf="!curUserEmail"
          type="submit"
          class="btn btn-success"
          [disabled]="!contactForm.valid"
        >{{'contact.btn-msg' | translate}}</button>
        <button
          *ngIf="curUserEmail"
          type="submit"
          class="btn btn-success"
        >{{'contact.btn-msg' | translate}}</button>
      </div>
    </form>
   </div>
 </div>

<div class="row">
  <div  class="map-container col-xs-12 col-md-6 col-md-offset-3">
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=tbilisi+(My%20Business%20Name)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
  </div>
</div>
