<hr>
<div class="panel panel-default" *ngIf="!testService.isTestMode">
  <!-- Default panel contents -->
  <div class="panel-heading">Maximum score 10.</div>
  <div class="panel-body">
    <p>The test consists of 5 tasks with 5 possible answers for each, 1 task is evaluated with 2 points.</p>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Test score</th>
      </tr>
    </thead>
    <tbody *ngFor="let test of solvedTests">
      <tr>
        <th scope="row">{{ test.testNum }}</th>
        <td>{{ test.getTestScore }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">sum</th>
        <th scope="col">{{ this.testService.getSolvedTestsSum() }}</th>
      </tr>
    </tfoot>
  </table>
</div>

<hr>

<div class="progress" *ngIf="!testService.isTestMode">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="testService.getSolvedTestsPercentage()">
    {{ testService.getSolvedTestsPercentage() }}%
  </div>
</div>


<button type="button" class="btn btn-primary" (click)="goToCurTest()" *ngIf="!testService.isTestMode">Go to test</button>

<router-outlet *ngIf="testService.isTestMode"></router-outlet>
