<hr>
<div class="panel panel-default" *ngIf="!isTestMode">
  <!-- Default panel contents -->
  <div class="panel-heading">{{'onlineTest.title' | translate}}</div>
  <div class="panel-body">
    <p>{{'onlineTest.about' | translate}}</p>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{'onlineTest.testScore' | translate}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let test of solvedTests">
      <tr>
        <th scope="row">{{ test.testNum }}</th>
        <td>{{ test.getTestScore }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">{{'onlineTest.sum' | translate}}</th>
        <th scope="col">{{ testsSum }}</th>
      </tr>
    </tfoot>
  </table>
</div>

<hr>

<div class="progress" *ngIf="!isTestMode">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width.%]="testsPercentage">
    {{ testsPercentage }}%
  </div>
</div>


<button type="button" class="btn btn-primary" (click)="goToCurTest()" *ngIf="!isTestMode">{{'onlineTest.btn' | translate}}</button>

<router-outlet *ngIf="isTestMode"></router-outlet>
