<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Activity</th>
      <th scope="col">homework</th>
      <th scope="col">Online test</th>
      <th scope="col">Week sum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>@twitter</td>
      <td>უიიყუიყი</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="col">sum</th>
      <th scope="col">100</th>
      <th scope="col">315</th>
      <th scope="col">256</th>
      <th scope="col">726</th>
    </tr>
  </tfoot>
</table>


<!--  -->


