<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Activity</th>
      <th scope="col">homework</th>
      <th scope="col">Online test</th>
      <th scope="col">Week sum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of weeks">
      <th scope="row">{{ week.homeworkNum }}</th>
      <td>{{ week.getActivitySum }}</td>
      <td>{{ week.getScore }}</td>
      <td>{{ testsSum }}</td>
      <td>{{ week.getScore + week.getActivitySum + testsSum}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="col">sum</th>
      <th scope="col">{{ activitiesSum }}</th>
      <th scope="col">{{ homeworksSum }}</th>
      <th scope="col">{{ testsSum }}</th>
      <th scope="col">{{ activitiesSum + homeworksSum + testsSum }}</th>
    </tr>
  </tfoot>
</table>



