.slide {
  min-height: 350px;
  text-align: center;

  @media (max-width: 450px) {
    min-height: auto;
  }
}

.page-item {
  cursor: pointer;

  a {
    color: #777;
  }
}

.blog {
  width: 100%;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    padding: 25px 0;
  }

  &_header {
    font-size: 50px;
    margin: auto;
    color: #777;
  }

  &_items {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.pagination a:hover:not(.active) {
  background-color: #ddd;
}
