@import '../../../styles.scss';

.profile-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin: 100px 0;
  }
}

label {
  input {
    display: none;
  }

  .container-upload {
    position: relative;
    cursor: pointer;
  }

  .upload-img {
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container-upload:hover .upload-img {
    opacity: 0.3;
  }

  .container-upload:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 12px;
    padding: 10px;
  }
}



//////////////////////////

.spinner {
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  &_info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &_img {
      // width: 40%;
      // height: max-content;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 10px solid ghostwhite;
    }

    &_about {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }

  &_details {
    width: 100%;
    padding-top: 100px;
    text-align: center;
  }
}

.sr-only {
  padding-left: 10px;
  position: inherit;
}

.progress-bar {
  text-align: start;
}
