.language {
  height: 50px;
  margin-left: 15px;
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  text-align: center;
  border-color: #e7e7e7;
}
