<form [formGroup]="taskForm" (ngSubmit)="submitTask()">
  <div class="form-group">
    <p>task {{ curTaskNumber }}</p>
    <p class="help-block">{{ curTask.conditions }}</p>
    <div class="form-group">
      <label for="comment">Solve the task Enter here:</label>
      <textarea
       formControlName='solve'
       class="form-control" rows="5"
       placeholder="Write the solution of the task here"
       >{{ curTask.solve }}</textarea>
    </div>
    <div class="form-group answer">
      <label for="comment">Final answer: </label>
      <input
       class="form-control"
       placeholder="Write your answer here."
       formControlName='answer'
       >
    </div>
    <div class="form-group answer" [ngStyle]="{'display': showCorrectAnswer ? 'block' : 'none' }">
      <label for="comment">Correct answer: </label>
      <span class="form-control" style="border-color: rgba(5, 250, 5, 0.604);" #answer>{{ curTask.answer }}</span>
    </div>
  </div>
  <button
   *ngIf="!showCorrectAnswer"
   [disabled]="isAdded"
   type="button"
   class="btn"
   [ngClass]="{'btn-danger': !isAdded, 'btn-success': isAdded }"
   (click)="addTask()"
  >Submit task</button>
</form>
<hr>
