<hr>
<div class="panel panel-default" *ngIf="!homeworkService.isTestEnterMode">
  <!-- Default panel contents -->
  <div class="panel-heading">Maximum score 10.</div>
  <div class="panel-body">
    <p>Assess homework challenges, a total of 5 challenges are each assessed with 2 point. </p>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Homework score</th>
      </tr>
    </thead>
    <tbody *ngFor="let homework of solvedHomeworks">
      <tr>
        <th scope="row">{{ homework.homeworkNum }}</th>
        <td>{{ homework.getScore }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">sum</th>
        <th scope="col">{{ homeworkService.getAnsweredHomeworksSum() }}</th>
      </tr>
    </tfoot>
  </table>
</div>


<div class="progress" *ngIf="!homeworkService.isTestEnterMode">
  <div class="progress-bar" role="progressbar" aria-valuenow="proc" aria-valuemin="0" aria-valuemax="100" [style.width.%]="homeworkService.getAnsweredHomeworksPercentage()">
    {{ homeworkService.getAnsweredHomeworksPercentage() }}%
  </div>
</div>


<button type="button" class="btn btn-primary" (click)="goToCurHomework()" *ngIf="!homeworkService.isTestEnterMode">Go to current homework</button>

<router-outlet *ngIf="homeworkService.isTestEnterMode"></router-outlet>


