<hr>
<div class="panel panel-default" *ngIf="!isHomeworkEnterMode">
  <!-- Default panel contents -->
  <div class="panel-heading">{{'homework.title' | translate}}</div>
  <div class="panel-body">
    <p>{{'homework.about' | translate}}</p>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{'homework.homeworkScore' | translate}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let homework of solvedHomeworks">
      <tr>
        <th scope="row">{{ homework.homeworkNum }}</th>
        <td>{{ homework.getScore }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">{{'homework.sum' | translate}}</th>
        <th scope="col">{{ homeworksSum }}</th>
      </tr>
    </tfoot>
  </table>
</div>

<hr>

<div class="progress" *ngIf="!isHomeworkEnterMode">
  <div class="progress-bar" role="progressbar" aria-valuenow="proc" aria-valuemin="0" aria-valuemax="100" [style.width.%]="homeworksPercentage">
    {{ homeworksPercentage }}%
  </div>
</div>


<button type="button" class="btn btn-primary" (click)="goToCurHomework()" *ngIf="!isHomeworkEnterMode">{{'homework.btn' | translate}}</button>

<router-outlet *ngIf="isHomeworkEnterMode"></router-outlet>


