<label class="form-group">Test #{{ test.TestNumber }}</label>
<span class="about-test">You have 30 minutes and 1 chance.</span>

<app-tests
 *ngFor="let tes of test.tests; let i = index"
 [curTest]="tes"
 [curTestNum]='i+1'
></app-tests>

<button
 *ngIf="!disabledSuccess"
 type="submit"
 class="btn btn-success"
 (click)="endTest()"
>Success Test</button>

<span *ngIf="disabledSuccess"> You got {{ yourScore }} points out of {{ maxScore }}.</span>

<span *ngIf="errorSuccess"> You have not completed all the assignments.</span>
