
<span class="inActive" *ngIf="active">{{'onlineTest.curTest.status' | translate}}</span>

<div *ngIf="!active" @testsAnimation>
  <div class="about">
    <label class="form-group">{{'onlineTest.curTest.onlineTestNumber' | translate}} #{{ test.TestNumber }}</label>
    <span class="about-test">{{'onlineTest.curTest.about' | translate}}</span>
  </div>


  <div @testAnimation>
    <app-tests
      *ngFor="let tes of test.tests; let i = index"
      [curTest]="tes"
      [curTestNum]='i+1'
      [showCorrectAnswer]="disabledSuccess"
    ></app-tests>
  </div>

  <button
    *ngIf="!disabledSuccess"
    type="submit"
    class="btn btn-success"
    (click)="endTest()"
  >{{'onlineTest.curTest.btn' | translate}}</button>

  <span *ngIf="disabledSuccess" class="success">{{'assessment.first' | translate}} {{ yourScore }} {{'assessment.second' | translate}} {{ maxScore }} {{'assessment.third' | translate}}</span>
  <span *ngIf="errorSuccess" class="danger">{{'onlineTest.curTest.errorMsg' | translate}}</span>
</div>

<button class="btn btn-info back" (click)="onNavigateBack()">{{'btnBack' | translate}}</button>
