
<div class="panel panel-default">
  <!-- Task -->
  <div class="panel-heading">Online test 4</div>
  <div class="panel-body">
    <p>
      Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
    </p>
  </div>

  <!-- Answer group -->
  <ul class="list-group">
    <li class="list-group-item">Answer 1</li>
    <li class="list-group-item">Answer 2</li>
    <li class="list-group-item">Answer 3</li>
    <li class="list-group-item">Answer 1</li>
    <li class="list-group-item">Answer 5</li>
  </ul>
</div>
