.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100Vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.blog-box {
  position: fixed;
  top: 50px;
  left: 20%;
  width: 60%;
  padding: 16px;
  z-index: 100;
  background: #fff;
  box-shadow:  0 2px 8px rgba(0, 0, 0, 0.26);
}

.blog-item {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // align-items: flex-start;
  // justify-content: center;

  &_title {
    text-align: center;
    font-size: 30px;
  }

  &_img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_info {
    overflow: hidden;
  }

  &_button {
    outline: none;
  }
}

// maybe do it feature
div.sticky {
  height: 100%;
  // position: -webkit-sticky; /* Safari */
  // position: sticky;
  // top: 0;
}

.blog-box-actions {
  text-align: right;
}
