
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import "./scss/vars";
@import "./scss/mixins";


* {
  outline: none;
  font-family: 'Rubik', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.section {
  width: 100%;
  padding: 10px 20px;
}

.container {
  max-width: 1024px;
  height: max-content;
  min-height: 100vh;
  margin: auto;
}

.img-center {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

$red: #db2828;

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border-color: $red !important;
}

.required {
  color: $red;
  @include flexColumn(flex-start, flex-start);
}

li > a {
  color: #777;
}
